<!-- loginform.html -->
 <h1>Login Page </h1>
<form method="POST">
  {% csrf_token %}
  <label for="bank_type">Select Bank:</label>
    <select id="bank_type" name="bank_type" >
      <option value="">--Select Bank--</option>
      <option value="SBI">SBI</option>
      <option value="IOB">IOB</option>
</select>
<br><br>
  <label>Username:</label>
  
  <input type="text" name="name" placeholder="Username" required /><br />
<br>
  <label>Email:</label>
  
  <input type="email" name="email" placeholder="Email" required /><br />
<br>
  <button type="submit">Login</button>
</form>
<a href="{% url 'create-account' %}">
  <button type="button">Create Account</button>
</a>

  {% for message in messages %}
  <p style="color: red">{{ message }}</p>
  {% endfor %}
</a>
